@font-face{
  font-family: 'luna';
  src:url("../fonts/Luna.ttf")
}

html{  
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 62.5%;
}

body{
  padding: 0;
  margin: 0;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {
  font-family: 'Luna';
  text-align: center;
  font-size: 4.8rem;
  margin: 0;
  color: rgb(255, 255, 255); 
  display: table-cell;
  vertical-align: middle;
}



h3 {
  font-family: Major Mono Display;
 }

 hi{
  
  font-weight: normal;
  letter-spacing: 0.2rem;
 }


  span{    
    font-size: 1.8rem;
    font-family:monospace
  
  }

  .fixed-nav-bar {
   position: fixed;
   padding-top: 0;
   padding-bottom: 0;
   z-index: 9999;
   width: 100%;
   height:auto;
  }

  .navbar {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    width: 100%;
    height:6.0rem;
    font-size: 1.4rem;
  }

  .navbar-nav {
    margin-left: 75rem;
  }

  .nav-item {
    padding: 0.2rem; }

  .shrink {
    font-size: 1.2rem;
    width: 100%;
    height:4rem;
}

.shrinklogo#logo img {
  padding-top: 0.5rem;
  width: 5rem;
  height:auto;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

.resetlogo#logo img {
  width: 6rem;
  height:auto;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

#logo
{
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  width: 10rem;
  height:6rem;
}

#logo img 
{
  
   width:6rem;
   height:auto;
}

  h4{
    font-family: 'Lulo Clean', sans-serif;
    text-shadow: 0.2rem 0.2rem 0.4rem #cfcfcf;
  }

 

button:hover {
  background-color: #52bee2; }

p::selection {
  color: #e9e9e9;
  background-color: #272727; }


.lead h4{
  font-size: 2rem;
}


  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  

.jumbotron {
  margin-left: auto;
  margin-right: auto;
  height: 40% ;
  width: 80% ;
   }

  .jadon{
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  animation: 1s ease-out 0s 1 slideInFromLeft;
  }

.footer {
  width: 100%;
  margin-top: 0%;
  background: #303036;
  color: #ebebeb;
  height: 40rem;
  position: relative; }

.footer .footer-bottom {
  background: #343a40;
  color: #686868;
  height: 5rem;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
  padding-top: 2rem; }


div {
  font-size: 1.8rem; }
  div p {
    color: #1b1b1b; }
  div ul {
    color: #c2c2c2; }

.specificMessage {
  font-family: sans-serif;
  font-size: 1.8rem;
  font-weight: bold; }

.specificMessage {
  background-color: #ffffff; }

 
.box1{
  height: 80rem;
  width: 100%;
  background-image: url("../img/pic1.jpg");
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;

}

.box2{
  height: 80rem;
  width: 100%;
  background-image: url("../img/pic2.jpg");
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
}

.box3{
  height: 80rem;
  width: 100%;
  background-image: url("../img/pic3.jpg");
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
}



/*----------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 600px)
 {
   
  @font-face{
    font-family: 'luna';
    src:url("../fonts/Luna.ttf")
  }

  h1 {
    font-family: 'Luna';
    text-align: center;
    font-size: 4.8rem;
    margin: 0;
    color: rgb(255, 255, 255); 
    display: table-cell;
    vertical-align: middle;
  }


   html
   {
     font-size: 55%;
   }

   .page-wrapper {
    padding-right: 12rem;
    background-color: #f85e5e;
    min-height: 100%;
    min-width: 100%;  }

   .grid
    {
      width:100%;
    display: table;
   
    }

    .navbar-nav {
      padding-bottom: 2rem;
      margin-left:0;
    }
  
    .nav-item 
    {
      padding: 0.4rem;
    }
  
    #logo
    {
      width: 4rem;
      height:auto;
    }
    
    #logo img 
    {
       width:4rem;
       height:auto;
       padding-bottom: 2rem;
    }
  
    .shrink
     {
      margin-bottom: 3rem;
      width: 100%;
      height:4rem;  
     }
  
  .shrinklogo#logo img 
  {
    padding-bottom: 3rem;
    width: 3rem;
    height:auto;
  }
  
  .resetlogo#logo img 
  {
    padding-bottom: 2rem;
    width: 4rem;
    height:auto;
  }

    .footer-section about
    {
      margin-left: 0rem;
    }

    .btn
    {
      width: 5rem;
    }


  }